@model Camera
<link rel="stylesheet" href="~/css/site.css"></link>
@*@{
    Layout = "_Layout";
    ViewData["Title"] = "Display Data";
    string[] TableHeaders = new string[] { " Id ", " Name ", " ModelCode ", " Sostav ", " Mesto ", " Sost " };
}
<div class="table">
    <table class="table table-bordered table-hover">
    <thead>
            <tr>@{
                    foreach (var head in TableHeaders) 
                    {
                                <th>
                                    @head
                                </th>
                    }
                }
            </tr>
        </thead>
        <tr>
            <td>

            </td>
        </tr>
        <tbody>
    </tbody>
    </table>
</div>*@
<div align="center"><input class="button" type="button" value="Add" id="modal_window_button" /></div>
<div id = "modal_window" class = "modal_windows">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>Vvod @Model</p>

        <form method="post" asp-controller="Home" asp-action="Check">
            <label asp-for="Id">Номер Зека</label>
            <input asp-for="Id" />
            <label asp-for="Name">Name</label>
            <input asp-for="Name" />
            <label asp-for="ModelCode">Model Code</label>
            <input asp-for="ModelCode" />
            <label asp-for="Sostav">Sostav</label>
            <input asp-for="Sostav" />
            <label asp-for="Mesto">Mesto</label>
            <input asp-for="Mesto" />
            <label asp-for="Sost">Sost</label>
            <input asp-for="Sost" />

            <input type="submit"/>
        </form>
    </div>
</div>

