@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <div>
        <table class="table" border="1">
            <tr><a class="button" asp-action="Camera">Ввод Камеры</a></tr>
            <tr><a class="button" asp-action="Complect">Ввод Комплектующих</a></tr>
            <tr><a class="button" asp-action="Ekrani">Ввод Мониторов</a></tr>
            <tr><a class="button" asp-action="PC">Ввод ПК</a></tr>
            <tr><a class="button" asp-action="Perefiria">Ввод Перефирии</a></tr>
        </table>
    </div>
</div>
