@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>ЫЫЫЫЫЫЫЫ</p>
<p>Пиво на сервер не проливать(по желанию)</p>
<p>Не поносить этот проект(мне же не всё равно :) )</p>
<p>Не бить сотрудников других отделов ногами </p>
<p>Если возникнут вопросы и пожелания писать на почту 101401 Каландей Богдан </p>
